* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem 4rem;
  background-color: #9a64e310;
}

.input-holder,
.preview-holder {
  width: 80vh;
  height: 100%;
  margin: 1rem 0;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

header {
  font-size: 1.2rem;
  background-color: blue;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(69, 117, 222, 1);
}

header h1,
header h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 1rem;
}

textarea {
  width: 100%;
  height: 60vh;
  background-color: rgba(235, 255, 255);
  padding: 0.5rem;
  border: none;
  overflow: auto;
  outline: none;
}

#preview {
  background-color: rgba(235, 255, 255);
  padding: 1.5rem;
}

ul {
  list-style-position: inside;
}

li {
  margin-left: 1rem;
}
